# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/macOS related
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/macos/Flutter/GeneratedPluginRegistrant.*
**/ios/Pods/
**/ios/Podfile.lock
**/macos/Pods/
**/macos/Podfile.lock

# Build outputs
build/
**/build/

# Coverage
coverage/

# IntelliJ related
*.iml
.idea/
*.ipr
*.iws

# VS Code related
.vscode/
.history/

# Misc
*.lock
*.log
*.DS_Store
*.class
*.swp
*.swo

# Exceptions (keep these files even if above folders are ignored)
!/ios/Flutter/Flutter.podspec
